@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

div#t{width:fit-content;
}
div#f{width: fit-content;}
body{
    margin: 0px;
    padding: 0px;
   
    color: rgb(0, 0, 0);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    }
   
   img{height: 70px;
      }
    
    a{color:rgb(0, 0, 0);
      text-decoration:solid;
      text-shadow: 10px;
      text-decoration-color: black;
      border: 10px;        
     }
    span{background-color: rgb(21, 117, 234);
        margin-top: 10px;
        box-shadow: 2px 2px 1px 0px;         border-radius: 10px;
        border-radius: 4px;
        margin: 10px; 
        transition: 0.3s ease;       
    }

    span:hover{background-color: aqua;
               color: black;
               transition: 0.3s ease;
              transform: scale(1.05);
              column-gap: 20px;}

             

    a:hover{ 
        color:black;
        
        animation: infinite;
        animation-duration: 5s;
        animation-delay: 5s;
           }

    a#my{color: floralwhite}
    a#my:hover{background-color: black;}

    a#fb:hover{background-color:rgb(21, 117, 234);}       

    div#t{
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;


        background-color: rgb(21, 117, 234);
        margin-top: 10px;
        box-shadow: 2px 2px 1px 0px;
        border-radius: 10px;
        border-radius: 4px;
        margin: 10px;
        text-align: center;    
        width:auto;
     }

     div#f{
       padding: 0px;
       margin: 0px;
       margin-bottom: 0px;
       margin-left: 0px;
       margin-right: 0px;
       


        background-color: rgb(21, 117, 234);
        margin-top: 10px;
        box-shadow: 2px 2px 1px 0px;
        border-radius: 10px;
        border-radius: 4px;
        margin: 10px;
        text-align: center;  
        box-shadow: 2px 2px 2px red;
        width: auto;
        
       

     }


     div#menu{
     background-image: linear-gradient(272deg, rgb(118, 255, 255), rgb(21, 117, 234));;
     width: 211px;
     height:300px;
     border: 3px black solid;
     text-align: center;
     align-items: center;
     align-content: center;
     border-radius: 20px;
     transition: 0.3s ease;
    column-gap: 20px;
    justify-content: normal;
    margin-bottom: 0px;
   
    
    
    }


div#menu:hover{
    background-image: linear-gradient(272deg,rgb(21, 117, 234), rgb(118, 255, 255));
    
    color: black;
    transition: 0.3s ease;
    transform: scale(1.05);

         
         }
    
    p#fff{color: rgb(21, 117, 234) ;
     box-shadow: 2px 0px 0px red;}

    .container{display: flex;
               flex-wrap: wrap; 
          
      margin: auto;
    gap: 10px;
column-gap: 6px;
justify-content: space-evenly;
 }

     

 

    .box {
      flex: 0 0 32%;
      height: 100px;
      background-color: #4CAF50;
      color: white;
      text-align: center;
      line-height: 100px;
      font-size: 20px;
      margin-bottom: 10px;
    }

    img#size{height:150px;
             width: 211px;
             border-radius: 20px;}
    
   p#size{align-items: center;}

   img#fb{height: 50px;}
   img#fa{height: 47px;}
  img#fd{height: 56px;}


  table{width: 500px;
        border-collapse: collapse;
        margin: 0 auto;
       }

  table#legenda{width: 190px;}
       
  td, th{border: 1px solid black;
        text-align: center;
        padding: 5px;}

  thead, tfoot{background-color:rgb(21, 117, 234);
               color: black;}

  div#voltar{ 
     background-image: linear-gradient(272deg, rgb(118, 255, 255), rgb(21, 117, 234));;
     width: 50px;
     height:20px;
     border: 3px black solid;
     text-align: center;
     align-items: center;
     align-content: center;
     border-radius: 20px;
     transition: 0.3s ease;
    column-gap: 20px;
    justify-content: normal;
    margin-bottom: 0px;
    
        margin: 0 auto;
    
    }

    div#voltar:hover{
    background-image: linear-gradient(272deg,rgb(21, 117, 234), rgb(118, 255, 255));
    
    color: white;
    transition: 0.3s ease;
    transform: scale(1.05);

         
         }




         .container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 300px;
}


 #aviso {
    background: #f8d7da;
    color: #721c24;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    text-align: center;
    border-radius: 5px;
    
    /* animação para desaparecer */
    animation: desaparecer 7s forwards;
  }

  @keyframes desaparecer {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0; display: none;}
  }


